.tweet-container {
    margin-top: 20px;
    border-radius: 20px;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #1C1C1C;
}

.tweet-text-container {
    color: white;
    font-size: 15px;
    overflow-y: hidden;
    margin: 20px;
    display: flex;
    margin-top: 0;
}

.tweet-user-info {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.tweet-user-profile {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #979797;
    background-position: center;
    background-size: cover;
}

.tweet-user-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    padding: 6px;
    border-radius: 5px;
}

.tweet-user-fullname {
    color: white;
    font-size: 10px;
}

.tweet-user-username {
    color: white;
    font-size: 8px;
}

.tweet-text {
    overflow: hidden;
}

.tweet-images-container {
    border: 1px solid #1C1C1C;
    border-radius: 20px;
    height: 230px;
    overflow: hidden;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.tweet-image {
    background-image: url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&auto=format&fit=crop&w=2508&q=80);
    background-position: center;
    background-size: cover;
    flex-basis: 50%;
    flex-grow: 1;
}